<section>
<h1>Elsewhere</h1>

<div class="profile">
 <ul>
	 <li id="linkedin">
	 <a href="http://www.linkedin.com/in/timtregubov" target="_blank">linkedin profile</a>
	 </li>
	 <li id="facebook">
	 <a href="http://www.facebook.com/tim.tregubov" target="_blank">facebook profile</a>
	 </li>
	 <li id="picasa">
	 <a href="https://picasaweb.google.com/timofei" target="_blank">picasa albums</a>
	 </li>
	 <li id="youtube">
	 <a href="http://www.youtube.com/user/timofei7" target="_blank">youtube channel</a>
	 </li>
 </ul>
 </div>

</section>
