<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="http://www.linkedin.com/js/public-profile/widget-os.js"></script>
<link type="text/css" rel="stylesheet" href="/javascripts/galleria/themes/classic/galleria.classic.css">
<script type="text/javascript" src="/javascripts/galleria/galleria.min.js"></script>
<script type="text/javascript" src="/javascripts/galleria/galleria.picasa.min.js"></script>
<script type="text/javascript" src="/javascripts/galleria/themes/classic/galleria.classic.min.js"></script>

<script type="text/javascript">
	 	jQuery.noConflict();
</script>
