{% capture category %}{{ post.categories | size }}{% endcapture %}
<h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>

<!-- figure out how to include excerpt here-->
<div class="entry-content">{{ content | excerpt | markdownify}}</div>
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}
       <footer>
       <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
       </footer>
    {% endif %}

<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
<!--
{% if category != '0' %}
<footer>
  <span class="categories">posted in {{ post.categories | category_links }}</span>
</footer>
{% endif %}
-->

