
/* This rule is read by Galleria to define the gallery height: */
#chipdemogalleria{height:480px;}
#carvinggalleria{height:480px;}
#drawinggalleria{height:500px;}
#animalsgalleria{height:400px;}
#campusgalleria{height:400px;}

