// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "_newarchive";
@import "_galleria";
@import "_asides";

body > header h1:before {
      content:"";
      position:absolute;
      right:0px;
      top:4px;
      height:100px;
      width:150px;
      overflow:hidden;
      text-align:left;
      background-image:url('/images/profile.png');
      background-repeat:no-repeat;
      @media only screen and (max-width: 992px) {
        top:0px;
     }
}

h1 {
font-size: 1.2em;
line-height: 1.2em;
}

#content .blog-index article h1 {
font-size: 1.2em;
}


body {
        font-size: .9em;
}

#blog-archives h1 a {
        font-size: .9em;
}

#content .blog-index a[rel="full-article"] {
font-size: .8em;
}


p {
-webkit-margin-before: .7em;
-webkit-margin-after: .7em;
}


//the blockquotes are too biiiig
blockquote {
        font-size: 1em;
}





